# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/
*.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Project-specific
/data/
